In [16]:
def matrxToSQL(matrix, name):
    print("INSERT INTO Matrices (MatrixName, RowNo, ColNo, CellValue)VALUES")
    for i in range(len(matrix)):
        for j in range(len(matrix[i])):
            if(matrix[i][j] != 0):
                print("('"+name+"'"+", "+str(i)+", "+str(j)+", "+"'alive'),")
                
    print("INSERT INTO MatrixImages (Name, path)VALUES")
    print("('" + name + "," + "noimg.png)")

In [11]:

def expandMatrix(matrix):
    size = 102
    smallRows = len(matrix)
    smallCols = len(matrix[0])
    newMatrix = [[0 for i in range(size)] for j in range(size)]
    paddingleft = (size-smallCols)//2
    paddingright = size-smallCols-paddingleft
    paddingtop = (size-smallRows)//2
    paddingbot = size-smallRows-paddingtop
    
    for i in range(smallRows):
        for j in range(smallCols):
            newMatrix[i + paddingtop][j + paddingleft] = matrix[i][j]

    return newMatrix
    
    
# expandMatrix(x)

In [12]:
def stringToMatrx(x):
    x = x.replace('\t', '')
    x = x.replace('.','0')
    x = x.replace('O','1')
    x = x.split("\n")
    for i in range(len(x)):
        x[i] = [int(j) for j in x[i]]
    return x
    
a = '''........OO...
	........O....
	.........O...
	........OO...
	.............
	.............
	.............
	.....O.......
	.....OO......
	OO.O.O.OOO...
	O.OO.O.O.O...
	......O..OOO.
	.......OO...O
	.........OOO.
	.........O...'''

a = a.replace('\t', '')

x = stringToMatrx(a)
x

[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0],
 [1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0],
 [1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]]

In [6]:
x1 = [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    ]

In [7]:
x = expandMatrix(x)
matrxToSQL(x,"Rattlesnake")

INSERT INTO Matrices (MatrixName, RowNo, ColNo, CellValue)VALUES
('Rattlesnake', 43, 52, 'alive'),
('Rattlesnake', 43, 53, 'alive'),
('Rattlesnake', 44, 52, 'alive'),
('Rattlesnake', 45, 53, 'alive'),
('Rattlesnake', 46, 52, 'alive'),
('Rattlesnake', 46, 53, 'alive'),
('Rattlesnake', 50, 49, 'alive'),
('Rattlesnake', 51, 49, 'alive'),
('Rattlesnake', 51, 50, 'alive'),
('Rattlesnake', 52, 44, 'alive'),
('Rattlesnake', 52, 45, 'alive'),
('Rattlesnake', 52, 47, 'alive'),
('Rattlesnake', 52, 49, 'alive'),
('Rattlesnake', 52, 51, 'alive'),
('Rattlesnake', 52, 52, 'alive'),
('Rattlesnake', 52, 53, 'alive'),
('Rattlesnake', 53, 44, 'alive'),
('Rattlesnake', 53, 46, 'alive'),
('Rattlesnake', 53, 47, 'alive'),
('Rattlesnake', 53, 49, 'alive'),
('Rattlesnake', 53, 51, 'alive'),
('Rattlesnake', 53, 53, 'alive'),
('Rattlesnake', 54, 50, 'alive'),
('Rattlesnake', 54, 53, 'alive'),
('Rattlesnake', 54, 54, 'alive'),
('Rattlesnake', 54, 55, 'alive'),
('Rattlesnake', 55, 51, 'alive'),
('Rattlesnake', 55, 52, 'alive'),
('Rattlesnake', 55, 56, 'alive'),
('Rattlesnake', 56, 53, 'alive'),
('Rattlesnake', 56, 54, 'alive'),
('Rattlesnake', 56, 55, 'alive'),
('Rattlesnake', 57, 53, 'alive'),